
{% extends "master.html" %}
    {% block title %}
    HomePage
{% endblock %}
{% block content %}
<h2 align="center"><u>BATCH MASTER DELETE</u></h2>
<table border="2" align="center" style="background-color:skyblue;">
<tr>
<th>BatchNo</th>
<th>BatchId</th>
<th>Delete</th>
</tr>
{% for x in data %}
<tr style="font-size:25px;">
<td>{{ x.batchno }}</td>
<td>{{ x.batchid }}</td>
<td>
<a href="{% url 'delete' pk=x.id %}">
<button type="button">delete</button>
</a>
</td>
</tr>
{% endfor %}
</table>
<p align="center"><a href="{% url 'smms' %}"><button>HOME</button></a></p>
{% endblock %}
