<!DOCTYPE html>
<html>
{% extends "master.html" %}
{% block title %}
<h3 align="center">Master Of Computer Applications<p>
{% endblock %}
{% block content %}
<head>
    <script typr="text/javascript">
        function show_confirm()
        {
var r=confirm("Please! check given data");
if (r==true)
  {
  alert("confirm!");
  }
else
  {
  alert(" Canceled!");
  }
}

    </script>
</head>
<html lang="en">
<head>
<title>BATCH MASTER INSERTION</title></head>
<body>
<h2 align="center"><u>BATCH MASTER INSERTION</u></h2>
<form method="post" action="{% url 'process_batch_entry' %}" enctype="multipart/form-data" align="center">
{% csrf_token %}
{{ form.as_p }}
<label for="batchid">BatchId:</label>
<input type="text" name="batchid" required>
<br/>
<br/>
<label for="batchno">BatchNo:</label>
<input type="text" name="batchno" required>
<br/>
<br/>
<p align="center"><button><a href="{% url 'smms' %}">Home</a></button>&nbsp;&nbsp;&nbsp;<button type="submit" onclick="show_confirm()" >Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button><a href="{% url 'smms' %}">Cancel</a></button></p>

</form>
{% endblock %}
</body>
</html>
