<!DOCTYPE html>
<html>
{% extends "master.html" %}
{% block title %}
<h3 align="center">Master Of Computer Applications<p>
{% endblock %}
{% block content %}
<head>
    <script typr="text/javascript">
        function show_confirm()
        {
var r=confirm("Please! check given data");
if (r==true)
  {
  alert("confirm!");
  }
else
  {
  alert(" Canceled!");
  }
}

    </script>
</head>
<html lang="en">
<head>
<title>COURSE MASTER INSERTION</title></head>
<body>
        <h2 align="center">COURSE MASTER INSERTION</h2>
        <form method="post" action="{% url 'process_course_entry' %}">
            {% csrf_token %}
                <p align="center"><label for="course">Course:</label>
                <input type="text" name="course" required><p>
                <p align="center"><label for="courseid">Course_Id :</label>
                <input type="text" name="courseid" required></p>
                <p align="center"><button type="submit"  onclick="show_confirm()">SUBMIT</button>&nbsp;&nbsp;&nbsp;&nbsp;<button><a href="{% url 'display_course' %}">Cancel</a></button>&nbsp;&nbsp;&nbsp;&nbsp;<button><a href="{% url 'smms' %}">HOME</a></button></p>
            </table>
        </form>
{% endblock %}
</body>
</html>