{% extends "master.html" %}
    {% block title %}
    HomePage
{% endblock %}
{% block content %}
          <h2 align="center">COURSE MASTER VIEW</h2>
        <table border="1" align="center">
            <tr>
                <th>Course</th>
                <th>Course_ID</th>
            </tr>
            {% for x in data %}
            <tr>
                <td>{{ x.course }}</td>
                <td>{{ x.courseid }}</td>
            </tr>
            {% endfor %}
        </table>
<p align="center"><a href="{% url 'smms' %}"><button>HOME</button></a></p>
{% endblock %}
