{% extends "master.html" %}
    {% block title %}
    HomePage
{% endblock %}
{% block content %}
    <h2 align="center">PAPER MASTER SEARCH</h2>  
    <form method="get" align="center">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    
    {% if results %}
        <h3 align="center">Results:</h3>
        
            {% for x in results %}
<table border="1" align="center">
<tr>
<th>PaperName</th>
<th>PaperCode</th>
<th>PaperType</th>
<th>PaperSheetName</th>
</tr>
<tr>
                <td>{{ x.papername }}</td>  
	        <td>{{ x.papercode }}</td>
		<td>{{ x.papertype }}</td>
		<td>{{ x.papersheetname }}</td> 
</tr>
</table>
            {% endfor %}
        
    {% endif %}

<p align="center"><a href="{% url 'smms' %}"><button>Home</button></a></p>
{% endblock %}