<!DOCTYPE html>
<!DOCTYPE html>
<html>
{% extends "master.html" %}
{% block title %}
<h3 align="center">Master Of Computer Applications<p>
{% endblock %}
{% block content %}
<head>
    <script typr="text/javascript">
        function show_confirm()
        {
var r=confirm("Please! check given data");
if (r==true)
  {
  alert("confirm!");
  }
else
  {
  alert(" Canceled!");
  }
}

    </script>
</head>
<html lang="en">
<head>
<title>PAPER MASTER INSERTION</title></head>
<body>
<h2 align="center"><u>PAPER MASTER INSERTION</u></h2>
        <h3 align="center">Please enter paper details</h3>
        <form method="post" action="{% url 'process_paper_entry' %}">
            {% csrf_token %}
                <p align="center"><label for="papername">Paper_Name:</label>
                <input type="text" name="papername" required><p>
                <p align="center"><label for="papercode">Paper_Code:</label>
                <input type="text" name="papercode" required></p>
                <p align="center"><label for="papertype">Paper_Type:</label>
                <input type="text" name="papertype" required></p>
		<p align="center"><label for="papersheetname">Paper_Sheet_Name:</label>
                <input type="text" name="papersheetname" required><p>
                <p align="center"><button type="submit" onclick="show_confirm()">SUBMIT</button>&nbsp;&nbsp;&nbsp;&nbsp;<button><a href="{% url 'display_paper' %}">Cancel</a></button>&nbsp;&nbsp;&nbsp;&nbsp;<button><a href="{% url 'smms' %}">HOME</a></button></p>
            </table>
        </form>
{% endblock %}
    </body>
</html>