<!DOCTYPE html>
<html>
{% extends "master.html" %}
{% block title %}
<h3 align="center">Master Of Computer Applications<p>
{% endblock %}
{% block content %}
<head>
    <script typr="text/javascript">
        function show_confirm()
        {
var r=confirm("Please! check given data");
if (r==true)
  {
  alert("confirm!");
  }
else
  {
  alert(" Canceled!");
  }
}

    </script>
</head>
<html lang="en">
<head>
<title>SEMESTER MASTER INSERTION</title></head>
<body>
<h2 align="center"><u>SEMESTER MASTER INSERTION</u></h2>
        <h3 align="center">Please enter semester details</h3>
        <form method="post" action="{% url 'process_sem_entry' %}">
            {% csrf_token %}
                <p align="center"><label for="sem">Semester:</label>
                <input type="text" name="sem" required><p>
                <p align="center"><label for="semid">SemID :</label>
                <input type="text" name="semid" required></p>
                <p align="center"><button type="submit" onclick="show_confirm()">SUBMIT</button>&nbsp;&nbsp;&nbsp;&nbsp;<button><a href="{% url 'display_sem' %}">Cancel</a></button>&nbsp;&nbsp;&nbsp;&nbsp;<button><a href="{% url 'smms' %}">HOME</a></button></p>
            </table>
        </form>
{% endblock %}
    </body>
</html>